{% schema %}
{
"name": "2024 Plug And Play",
"settings": [
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 180,
"step": 2,
"unit": "px",
"label": "Padding top",
"default": 0
}, {
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 180,
"step": 2,
"unit": "px",
"label": "Padding bottom",
"default": 0
},
{
"type": "select",
"id": "width",
"label": "Section width",
"default": "wrapper--none",
"options": [
{
"value": "wrapper--none",
"label": "Full width"
}, {
"value": "wrapper--full",
"label": "Full width padded"
}, {
"value": "wrapper",
"label": "Page width"
}, {
"value": "wrapper--narrow",
"label": "Page width narrow"
}
]
}
],
"presets": [
{
"name": "2024 Plug And Play",
"category": "Installation"
}
]
}
{% endschema %}

<div class="Plug_and_Play">
  <h2>{{ 'sections.plug_and_play.title' | t }}</h2>
  <p class="Plug_and_Play_text">{{  'sections.plug_and_play.description' | t  }}</p>
  <a href="{{ 'sections.plug_and_play.install_link' | t }}" class="deeper_buy_now" target="_blank"
    > {{ 'sections.plug_and_play.install_text' | t }} </a>
  <div class="Plug_and_Play_list">
    <div class="Plug_and_Play_item">
      <div class="Plug_and_Play_item_img">
        <img
          loading="lazy"
          src="https://cdn.shopifycdn.net/s/files/1/0256/1038/7504/files/picoV5-01.gif?v=1702864562"
          alt="Virtual Wire Mode"
        >
      </div>
      <div class="Plug_and_Play_item_content">
        <div class="Plug_and_Play_item_title">{{ 'sections.plug_and_play.virtual_wire_mode.title' | t }}</div>

        <div class="Plug_and_Play_item_text">
          {{ 'sections.plug_and_play.virtual_wire_mode.description' | t }}
        </div>
        <a href="" class="mode_link"> learn more </a>
      </div>
    </div>
    <div class="Plug_and_Play_item">
      <div class="Plug_and_Play_item_img">
        <img
          loading="lazy"
          src="https://cdn.shopifycdn.net/s/files/1/0256/1038/7504/files/picoV5-02_077be236-ec6d-47e9-aa15-63c8842e1574.gif?v=1702864561"
          alt="Virtual Wire Mode"
        >
      </div>
      <div class="Plug_and_Play_item_content">
        <div class="Plug_and_Play_item_title">{{ 'sections.plug_and_play.router_mode.title' | t}}</div>

        <div class="Plug_and_Play_item_text">
          {{ 'sections.plug_and_play.router_mode.description' | t }}
        </div>
        <a href="" class="mode_link"> learn more </a>
      </div>
    </div>
    <div class="Plug_and_Play_item">
      <div class="Plug_and_Play_item_img">
        <img
          loading="lazy"
          src="https://cdn.shopifycdn.net/s/files/1/0256/1038/7504/files/picoV5-03_0c7f9105-ef39-4ae3-8ede-5ef20aaf265d.gif?v=1702864560"
          alt="Virtual Wire Mode"
        >
      </div>
      <div class="Plug_and_Play_item_content">
        <div class="Plug_and_Play_item_title">{{ 'sections.plug_and_play.wifi_adapter_mode.title' | t }}</div>

        <div class="Plug_and_Play_item_text">
          {{ 'sections.plug_and_play.wifi_adapter_mode.description' | t }}
        </div>
        <a href="" class="mode_link"> learn more </a>
      </div>
    </div>
    <div class="Plug_and_Play_item">
      <div class="Plug_and_Play_item_img">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/picoV5-03_-1225-2.gif?v=1721025541"
          alt="Virtual Wire Mode"
        >
      </div>
      <div class="Plug_and_Play_item_content">
        <div class="Plug_and_Play_item_title">{{ 'sections.plug_and_play.wireless_relay_mode.title' | t }}</div>

        <div class="Plug_and_Play_item_text">
          {{ 'sections.plug_and_play.wireless_relay_mode.description' | t }}
        </div>
        <a href="" class="mode_link"> learn more </a>
      </div>
    </div>
  </div>
</div>

<style>
  .deeper_buy_now {
    display: flex;
    gap: 30px;
    color: #495af5;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.12px;
    display: block;
    font-family: "SF Pro Text";
    text-decoration: none;
  }

  .Plug_and_Play {
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px 0;
  }

  .Plug_and_Play h2 {
    color: #111928;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    letter-spacing: -0.12px;
    margin: 0 0 30px 0;
  }

  .Plug_and_Play_text {
    color: #6c6c78;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 130% */
    letter-spacing: -0.12px;
    margin-bottom: 30px;
  }

  .Plug_and_Play_list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .Plug_and_Play_item {
    flex: 1;
    border-radius: 18px;
    overflow: hidden;
    border: 0.5px solid #dfe4ea;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
  }

  .Plug_and_Play_item_img {
    width: 100%;
  }

  .Plug_and_Play_item_img img {
    width: 100%;
  }

  .Plug_and_Play_item_content {
    padding: 20px;
    text-align: center;
  }

  .Plug_and_Play_item_title {
    color: #111928;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-family: "SF Pro Text";
    line-height: 26px;
    /* 130% */
    letter-spacing: -0.12px;
    margin-bottom: 10px;
  }

  .Plug_and_Play_item_text {
    color: #637381;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.12px;
    font-family: "SF Pro Text";
  }

  .mode_link {
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    border-radius: 32px;
    border: 0.5px solid #dfe4ea;
    color: #637381;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.12px;
    display: none;
  }

  @media screen and (max-width: 1440px) {
    .Plug_and_Play h2 {
      font-size: 32px;
    }

  

    .Plug_and_Play_text {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .Plug_and_Play_item_title {
      font-size: 18px;
    }

    .Plug_and_Play {
      padding: 30px 0;
    }

    .Plug_and_Play_list {
      margin-top: 20px;
      padding: 0 10px;
      padding-bottom: 20px;
      flex-direction: column;
    }
  }
</style>
