<div
  class="homepage-slideshow {{ section.settings.dots_position }}"
  data-section-id="{{ section.id }}"
  data-section-type="slideshow"
  {% if section.settings.width == 'wrapper--none' and section.settings.padding_top == 0 %}
    data-overlay-header
  {% endif %}
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;"
>
  <div class="{{ section.settings.width }} section-padding">
    {% if section.blocks.size > 0 %}
      <div
        class="slideshow__wrapper flickity-disabled-mobile flickity-badge-dots"
        data-slideshow-wrapper
        data-custom-scrollbar-items
        data-block-scroll
        data-slideshow-autoplay="{{ section.settings.autoplay }}"
        data-slideshow-slides="{{ section.blocks.size }}"
        data-slideshow-speed="{{ section.settings.autoplay_speed | times: 1000 }}"
      >
        {% for block in section.blocks %}
          <div
            class="slideshow__slide  js-overflow-container section--image {{ block.settings.text_color }}"
            data-slideshow-index="{{ forloop.index0 }}"
            {{ block.shopify_attributes }}
          >
            <div class="hero__content__wrapper {{ block.settings.text_align }}">
              <div class="hero__content mobile--padding-bottom {{ block.settings.color_bg }} js-overflow-content">
                {% unless block.settings.kicker == '' %}
                  <p class="hero__kicker">
                    {{ block.settings.kicker | escape }}
                  </p>
                {% endunless %}
                {% unless block.settings.title == '' %}
                  <!-- <img style="margin-bottom:2px" width="41%" src="{{ 'slideshow-off.png' | asset_url }}" /> -->
                  <div class="mobile--hide small--show medium--show large--show widescreen--show">
                    {% if block.settings.title == 'bug-bounty' %}
                      <h1 class="hero__title h1">Bug Bounty Program</h1>
                      <div class="hero__description h5--body">
                        <b
                          >Deeper Network believes in the power of community <br>
                          collaboration to enhance the security of blockchain <br>
                          technology.
                        </b>
                      </div>
                    {% endif %}

                    {% if block.settings.title == 'Mini' %}
                      <h1 class="hero__title h1">Deeper Connect Mini</h1>
                      <div class="hero__description h5--body">
                        <b
                          >Powerful Web 3.0 Gateway <br>
                          High Security. 7-Layer Enterprise-Class Firewall
                        </b>
                      </div>
                    {% endif %}

                    {% if block.settings.title == 'pico' %}
                      <h1 class="hero__title h1">Deeper Connect Pico</h1>
                      <div class="hero__description h5--body">
                        <b
                          >Portable DPN Privacy <br>
                          Easy Plug-and-Play, Perfect for Traveling
                        </b>
                      </div>
                    {% endif %}

                    {% if block.settings.title == 'MiniSE' %}
                      {% comment %}
                        <h1 class="hero__title h1">
                          DPR Mini SE
                        </h1>
                        <div class="hero__description h5--body">
                          <b>
                            Affordable Home Cybersecurity <br/>
                            A Better and More Secure Internet for Everyone
                          </b>
                        </div>
                      {% endcomment %}
                    {% endif %}
                  </div>

                  <div class="mobile--show small--hide medium--hide large--hide widescreen--hide">
                    {% if block.settings.title == 'bug-bounty' %}
                      <h1 class="hero__title h5" style="font-size:24px">Bug Bounty Program</h1>
                      <div class="hero__description" style="font-size:14px;font-weight:500">
                        <b
                          >Deeper Network believes in the power of <br>
                          community collaboration to enhance the <br>
                          security of blockchain technology.
                        </b>
                      </div>
                    {% endif %}
                  </div>
                {% endunless %}
                {% unless block.settings.richtext == '' %}
                  <div class="hero__description h5--body">
                    {{ block.settings.richtext }}
                  </div>
                {% endunless %}

                {% unless block.settings.link_text == '' %}
                  {% if block.settings.link_text == 'Report' %}
                    <a
                      class="hero__btn {{ block.settings.button_color }} {{ block.settings.button_size }} {{ block.settings.button_style }}"
                      href="{{ block.settings.link }}"
                      target="_blank"
                      style="background-color:#495AF5;color:#fff;width:110px;text-align:center; font-size:16px;padding-top:10px;padding-bottom:10px;"
                    >
                      {{ block.settings.link_text | escape }}
                    </a>
                  {% else %}
                    {% if block.settings.link contains '#hot-dpn-devices' %}
                      <a
                        class="hero__btn {{ block.settings.button_color }} {{ block.settings.button_size }} {{ block.settings.button_style }}"
                        href="javascript:toHotDPN()"
                        style="background-color:#fff;color:#000"
                      >
                        {{ block.settings.link_text | escape }}
                      </a>
                    {% else %}
                      {% if block.settings.link contains '#send' %}
                        <h1 class="hero__title h2">Wall of love for Deeper Network</h1>
                        <a
                          class="hero__btn {{ block.settings.button_color }} {{ block.settings.button_size }} {{ block.settings.button_style }}"
                          href="{{ block.settings.link }}"
                          style="background-color:#495AF5;color:#fff;text-align:center; font-size:16px;padding-top:10px;padding-bottom:10px;"
                        >
                          {{ block.settings.link_text | escape }}
                        </a>
                      {% else %}
                        <a
                          class="hero__btn {{ block.settings.button_color }} {{ block.settings.button_size }} {{ block.settings.button_style }}"
                          href="{{ block.settings.link }}"
                          style="background-color:#fff;color:#000"
                        >
                          {{ block.settings.link_text | escape }}
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endunless %}
              </div>

              <style>
                .banner-href {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  opacity: 0;
                  padding: 0;
                  width: 100%;
                  height: 90%;
                  z-index: 11;
                  display:block !important;
                }
                .banner-href-air {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  opacity: 0;
                  padding: 0;
                  left: 0 !important;
                  width: 23% !important;
                  height: 90%;
                  z-index: 11;
                }
                .banner-href-link-air {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  opacity: 0;
                  padding: 0;
                  height: 90%;
                  right: 0 !important;
                  width: 77% !important;
                  z-index: 11;
                }
                /* 小屏幕 */
                @media (max-width: 1200px) {
                  .banner-href {
                    height: 100%;
                  }
                  .banner-href-air,
                  .banner-href-link-air {
                    width: 50% !important;
                  }
                }
              </style>

              {% if block.settings.title contains 'Time offer' %}
                <a href="/collections/all" class="banner-href"></a>
              {% endif %}
              {% if block.settings.title contains 'Lite' %}
                <a href="/products/deeper-connect-pico-lite" class="banner-href"></a>
              {% endif %}

              {% if block.settings.title contains 'Depper Connect Air' %}
                <a href="/products/deeper-connect-air" class="banner-href-air" target="_blank"></a>
                <a
                  href="https://cdn.shopify.com/videos/c/o/v/3e00b7d791d64bdeb1094acec76863d2.mp4"
                  class="banner-href-link-air"
                  target="_blank"
                ></a>
              {% endif %}
              {% if block.settings.title contains 'Mother’s Day' %}
                {% comment %} <a href="/products/reseller-trail-package-pico-x-4-mini-x-3-se-x-3" class="banner-href" target="_blank" ></a> {% endcomment %}
                <script>
                  function scrollToDPNProducts() {
                    setTimeout(function () {
                      window.scrollTo({
                        behavior: 'smooth',
                        top:
                          document.querySelector('[id=our-products]').getBoundingClientRect().top -
                          document.body.getBoundingClientRect().top -
                          40,
                      });
                    }, 500);
                  }
                </script>
                <a
                  href="javascript:scrollToDPNProducts();"
                  style="position: absolute;top: 0;bottom: 0;opacity: 0;padding: 0;width: 100%;height: 90%;z-index: 11;"
                ></a>
              {% endif %}

              {% if block.settings.title contains 'black friday 2023' %}
                <a href="/pages/black-friday" class="banner-href"></a>
              {% endif %}

              {% if block.settings.title contains 'Deeper Care+' %}
                <a href="/pages/deeper-care" class="banner-href"></a>
              {% endif %}

              {% if block.settings.title contains 'Earth Day Sale' %}
                <a href="/products/new-deeper-connect-pico-set" class="banner-href" target="_blank"></a>
              {% endif %}

              {% if block.settings.title contains 'Spring sale' %}
                <script>
                  function scrollToDPNProducts() {
                    setTimeout(function () {
                      window.scrollTo({
                        behavior: 'smooth',
                        top:
                          document.querySelector('[id=dpn-bundle]').getBoundingClientRect().top -
                          document.body.getBoundingClientRect().top -
                          40,
                      });
                    }, 500);
                  }
                </script>
                <a
                  href="javascript:scrollToDPNProducts();"
                  style="position: absolute;top: 0;bottom: 0;opacity: 0;padding: 0;width: 100%;height: 90%;z-index: 11;"
                ></a>
              {% endif %}

              <div slide-custom-prev class="custom-prev-next-button previous"></div>
              <div slide-custom-next class="custom-prev-next-button next"></div>
            </div>

            <div
              class="image-overlay"
              style="--bg:{{ block.settings.overlay_color }}; opacity:{{ block.settings.overlay_opacity | times: 0.01 }};"
            ></div>

            {% assign desktop_image_classes = section.settings.height %}
            {% assign mobile_image_classes = section.settings.height | append: ' small-down--show hide' %}
            {% assign mobile_image = '' %}
            {% if block.settings.mobile_image != blank %}
              {% assign desktop_image_classes = desktop_image_classes | append: ' medium-up--show hide' %}
              <!-- {{ section.settings.height | json }} -->

              {% capture mobile_image %}
                {% render 'image-background', img_object: block.settings.mobile_image, frame_height_class: mobile_image_classes, bg_position: block.settings.bg_position %}
              {% endcapture %}
            {% endif %}

            {% render 'image-background',
              img_object: block.settings.image,
              frame_height_class: desktop_image_classes,
              bg_position: block.settings.bg_position
            %}

            {% if mobile_image != '' %}
              {{ mobile_image }}
            {% endif %}

            {% assign dots_positioned_edge = true %}
            {% if section.settings.dots_position == 'dots--center' %}
              {% assign dots_positioned_edge = false %}
            {% endif %}
            {% if section.settings.height == 'use_screen_full' and dots_positioned_edge %}
              <div class="scroll_icon_wrap">
                <button
                  data-scroll-down
                  class="scroll_link bloop"
                  aria-label="{{ 'general.accessibility.scroll' | t }}"
                >
                  <span class="scroll_icon">{% render 'icon-arrow-down' %} </span>
                </button>
              </div>
            {% endif %}
          </div>

          {% if block.settings.title contains 'Bundle Sale' %}
            </a>
          {% endif %}
        {% endfor %}
      </div>

      {%- unless request.path contains 'bug-bounty-program' -%}
        <div class="custom-scrollbar small-down--show" data-custom-scrollbar>
          <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
        </div>
      {%- endunless -%}
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="slideshow__slide">
        <div class="hero__content__wrapper align--middle-left">
          <div class="hero__content">This section doesn’t currently include any content. Add content to this section using the sidebar."</div>
        </div>
        <div class="image-overlay" style="--bg: #000; opacity:0.15;"></div>
      </div>
    {% endif %}
  </div>
</div>

<script>
  function toHotDPN() {
    let selector = '[id=hot-dpn-devices]';
    window.scrollTo({
      behavior: 'smooth',
      top:
        document.querySelector(selector).getBoundingClientRect().top - document.body.getBoundingClientRect().top - 70,
    });
  }
</script>

{% schema %}
{
  "name": "Slideshow2",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 8
    },
    {
      "type": "select",
      "id": "dots_position",
      "label": "Slide controls",
      "default": "dots--right",
      "options": [
        {
          "value": "dots--left",
          "label": "Left"
        },
        {
          "value": "dots--center",
          "label": "Center"
        },
        {
          "value": "dots--right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        {
          "value": "use_screen_full",
          "label": "Full screen height"
        },
        {
          "value": "use_screen_three_quarters",
          "label": "Three quarters of screen height"
        },
        {
          "value": "use_screen_two_thirds",
          "label": "Two thirds of screen height"
        },
        {
          "value": "use_screen_one_half",
          "label": "One half of screen height"
        },
        {
          "value": "use_screen_one_third",
          "label": "One third of screen height"
        },
        {
          "value": "use_screen_one_fifth",
          "label": "One fifth of screen height"
        },
        {
          "value": "use_pixels_800",
          "label": "800px"
        },
        {
          "value": "use_pixels_650",
          "label": "650px"
        },
        {
          "value": "use_pixels_500",
          "label": "500px"
        },
        {
          "value": "use_image",
          "label": "Image height"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--none",
      "options": [
        {
          "value": "wrapper--none",
          "label": "Full width"
        },
        {
          "value": "wrapper--full",
          "label": "Full width padded"
        },
        {
          "value": "wrapper",
          "label": "Page width"
        },
        {
          "value": "wrapper--narrow",
          "label": "Page width narrow"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Match size to other slides"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": "Position",
          "default": "center-center",
          "options": [
            {
              "label": "Top",
              "value": "center-top"
            },
            {
              "label": "Right",
              "value": "right-center"
            },
            {
              "label": "Center",
              "value": "center-center"
            },
            {
              "label": "Left",
              "value": "left-center"
            },
            {
              "label": "Bottom",
              "value": "center-bottom"
            }
          ]
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "label": "Image overlay opacity",
          "info": "Increase contrast for legible text.",
          "default": 15
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image slideshow"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text",
          "default": "<p>Tell your brand's story through images.</p>"
        },
        {
          "type": "select",
          "id": "color_bg",
          "label": "Background color",
          "default": "hero__content--transparent",
          "options": [
            {
              "value": "hero__content--transparent",
              "label": "Transparent"
            },
            {
              "value": "palette--light bg--neutral",
              "label": "White"
            },
            {
              "value": "palette--light bg--accent",
              "label": "Light"
            },
            {
              "value": "palette--dark bg--invert",
              "label": "Dark"
            },
            {
              "value": "palette--dark bg--invert--accent",
              "label": "Dark accent"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Alignment",
          "default": "align--middle-center",
          "options": [
            {
              "value": "align--top-left",
              "label": "Top left"
            },
            {
              "value": "align--top-center",
              "label": "Top center"
            },
            {
              "value": "align--top-right",
              "label": "Top right"
            },
            {
              "value": "align--middle-left",
              "label": "Middle left"
            },
            {
              "value": "align--middle-center",
              "label": "Absolute center"
            },
            {
              "value": "align--middle-right",
              "label": "Middle right"
            },
            {
              "value": "align--bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "align--bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "align--bottom-right",
              "label": "Bottom right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "default": "text--white",
          "options": [
            {
              "value": "text--neutral",
              "label": "Normal text"
            },
            {
              "value": "text--white",
              "label": "White"
            },
            {
              "value": "text--primary",
              "label": "Primary accent"
            },
            {
              "value": "text--secondary",
              "label": "Secondary accent"
            },
            {
              "value": "text--black",
              "label": "Black"
            },
            {
              "value": "text--invert--primary",
              "label": "Primary dark accent"
            },
            {
              "value": "text--invert--secondary",
              "label": "Secondary dark accent"
            },
            {
              "value": "text--invert",
              "label": "Inverted text color"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text",
          "default": "View products"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "btn--large",
          "options": [
            {
              "value": "btn--small",
              "label": "Small button"
            },
            {
              "value": "",
              "label": "Medium button"
            },
            {
              "value": "btn--large",
              "label": "Large button"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "hero__btn btn",
          "options": [
            {
              "value": "text-link",
              "label": "Text link"
            },
            {
              "value": "hero__btn btn",
              "label": "Solid button"
            },
            {
              "value": "hero__btn btn--soft",
              "label": "Soft button"
            },
            {
              "value": "hero__btn btn--outline",
              "label": "Outlined button"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Color",
          "default": "btn--neutral",
          "options": [
            {
              "value": "btn--primary",
              "label": "Primary accent"
            },
            {
              "value": "btn--secondary",
              "label": "Secondary accent"
            },
            {
              "value": "btn--neutral",
              "label": "Text color"
            },
            {
              "value": "btn--black",
              "label": "Black"
            },
            {
              "value": "btn--white",
              "label": "White"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow2",
      "category": "Image",
      "settings": {
        "height": "use_screen_two_thirds"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}



<style>

/* end */
.homepage-slideshow .flickity-enabled.is-draggable .flickity-viewport {
  cursor: default;
}

.homepage-slideshow .flickity-page-dots {
  position: absolute;
  width: auto;
  bottom: var(--outer);
  z-index: 99;
}

.homepage-slideshow .flickity-page-dots:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -20;
}

.homepage-slideshow .flickity-page-dots .flickity-page-dot {
  display: inline-block;
  width: 24px;
  height: 4px;
  border-radius: 3px;
  margin: 0 20px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.homepage-slideshow .flickity-page-dots .flickity-page-dot.is-selected {
  /* background-color: var(--text); */
  background-color: #fff;
}

.custom-prev-next-button {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}
.slideshow__slide {
  width: 100%;
}

.slideshow__slide .hero__content {
  position: relative;
  z-index: 50;
}
.image__hero__frame {
    position: relative;
    overflow: hidden;
}
.background-size-cover {
  display: block  !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.no-js .image__hero__frame noscript img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image__hero__pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image__hero__scale {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

  .image__hero__frame {
    position: relative;
    overflow: hidden;
}
  .hide {
    display: none !important;
}
  .no-js .image__hero__frame,
.no-js .image__fill {
  padding-top: 0px !important;
}

  .responsive-wide-image {
  width: 100%;
  display: block;
}
  
@media only screen and (max-width: 767px) {
  .custom-prev-next-button {
    width: 0;
  }
    .slideshow__wrapper {
    padding-bottom: 25px;
  }
  .slideshow__slide .image__hero__frame {
    min-height: 100% !important;
  }
  .slideshow__wrapper~.custom-scrollbar {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
    .small-down--show {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
  .slideshow__wrapper:not(.flickity-enabled)>.slideshow__slide:not(:first-of-type) {
    display: none;
  }
    .medium-up--show {
        display: block !important;
    }
    .image__hero__frame {
        min-height: 100% !important;
    }
  .no-js .slideshow__wrapper:not(.flickity-enabled)>.slideshow__slide:not(:first-of-type) {
    display: block;
  }
}

.custom-prev-next-button.previous {
  left: 0;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='36' viewBox='0 0 44 44'><path d='M10.366 22.502l.412.392L33.268 44l.732-.742-22.488-21.106L34 .742 33.268 0 10 22.152z'/></svg>") 5 11, auto;
}

.custom-prev-next-button.next {
  right: 0;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='36' viewBox='0 0 44 44'><path d='M33.634 22.502l-.412.392L10.732 44 10 43.258l22.488-21.106L10 .742 10.732 0 34 22.152z'/></svg>") 15 11, auto;
}
</style>
